{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Editar Procedencia{% endblock %}
{% block nombre %}Equipo{% endblock %}
{% block subtitulo %}Editar Procedencia{% endblock %}
{% block content %}

    <form action="{{ path('procedencia_edit',{'id':procedencia.id}) }}" method="post">
        {{ form_widget(edit_form) }}
        <br>
        <input type="submit" value="Editar" class="btn btn-info"/>
    </form>


    <br>
    <a href="{{ path('procedencia_index') }}" class="btn btn-success">Volver a la lista</a>

    <br><br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
