{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Datos de Procedencia {% endblock %}
{% block nombre %}Equipo{% endblock %}
{% block subtitulo %}Datos de Procedencia {% endblock %}
{% block content %}
    <table class="table table-responsive">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ procedencium.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ procedencium.nombre }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ procedencium.descripcion }}</td>
        </tr>
        <tr>
            <th>&iquest;Fuera de la provincia?</th>
            <td>{% if procedencium.fueraProvincia %}Sí{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <br>
    <a href="{{ path('procedencia_index') }}" class="btn btn-success">Volver a la lista</a>

    <br><br>
    <a href="{{ path('procedencia_edit', { 'id': equipo.id }) }}" class="btn btn-info">Editar</a>

    <br><br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
