{% extends 'base.html.twig' %}

{% block body %}
    <h1>Procedencia</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ procedencium.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ procedencium.nombre }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ procedencium.descripcion }}</td>
        </tr>
        <tr>
            <th>Fueraprovincia</th>
            <td>{% if procedencium.fueraProvincia %}Sí{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('procedencia_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('procedencia_edit', { 'id': procedencium.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
