{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Editar Equipo{% endblock %}
{% block nombre %}Equipo{% endblock %}
{% block subtitulo %}Editar Equipo{% endblock %}
{% block content %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <br>
    <input type="submit" value="Editar" class="btn btn-info"/>
    {{ form_end(edit_form) }}


    <br>
    <a href="{{ path('equipo_index') }}" class="btn btn-success">Volver a la lista</a>

    <br><br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar" class="btn btn-danger">
    {{ form_end(delete_form) }}

{% endblock %}
