{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Lista de Equipos{% endblock %}
{% block nombre %}Equipo{% endblock %}
{% block subtitulo %}Lista de Equipos{% endblock %}
{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td><a href="{{ path('equipo_show', { 'id': equipo.id }) }}">{{ equipo.id }}</a></td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.descripcion }}</td>
                <td>
                    <a href="{{ path('equipo_show', { 'id': equipo.id }) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('equipo_edit', { 'id': equipo.id }) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipo_new') }}">Crear nuevo equipo</a>
        </li>
    </ul>
{% endblock %}
