<!DOCTYPE html>
<html ng-app="NB" lang="es">
{#<html lang="es">#}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Neurobit! {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="autor" content="CENPIS/GPS">
    <meta name="copyrigth" content="Copyright © CENPIS/GPS">

    {% set locale = app.request.get('_locale') %}
    {% if locale is defined and locale is not empty %}
        <script type="text/javascript">
          window._locale_ = '{{ locale }}';
          console.log('baseUrl -> ', '{{ app.request.baseUrl }}');
          console.log('host -> ', '{{ app.request.schemeAndHttpHost }}');
        </script>
    {% else %}
        <script type="text/javascript">
          window._locale_ = 'es';
        </script>
    {% endif %}

    {% block seo %}
        <meta name="description" content="{{ 'meta.description'|trans }}">
        <meta name="keywords" content="{{ 'meta.keywords'|trans }}">
        <link rel="canonical" href="{{ app.request.schemeAndHttpHost }}{{ app.request.baseUrl }}">
        <!-- Open Graph protocol -->
        <meta property="og:locale" content="es">
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Neurobit">
        <meta property="og:description" content="description">
        <meta property="og:keywords" content="keywords">
        <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}{{ app.request.baseUrl }}">
        <meta property="og:site_name" content="Neurobit">
    {% endblock %}

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/common/gh/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset('bundles/common/gh/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/common/gh/vendor/simple-line-icons/css/simple-line-icons.css') }}"
              rel="stylesheet" type="text/css">
        {#<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">#}

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/common/gh/css/landing-page.min.css') }}" rel="stylesheet">
    {% endblock %}

    {% include ':common:_block-upper-scripts.html.twig' %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body ng-controller="BaseController" ng-init="init()" ng-cloak>
<growl-notifications></growl-notifications>

{% block body %}

    {% block nav %} {% endblock %}

    {% block header %} {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %} {% endblock %}

{% endblock %}

{% block javascripts %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('bundles/common/gh/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/common/gh/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}

{% include ':common:_block-footer-scripts.html.twig' %}

</body>
</html>