{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Lista de Pruebas{% endblock %}
{% block nombre %}Prueba{% endblock %}
{% block subtitulo %}Lista de Pruebas{% endblock %}
{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for prueba in pruebas %}
            <tr>
                <td><a href="{{ path('prueba_show', { 'id': prueba.id }) }}">{{ prueba.id }}</a></td>
                <td>{{ prueba.nombre }}</td>
                <td>{{ prueba.descripcion }}</td>
                <td>
                    <a href="{{ path('prueba_show', { 'id': prueba.id }) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('prueba_edit', { 'id': prueba.id }) }}" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><a href="{{ path('prueba_new') }}" class="btn btn-success">Crear nueva prueba</a>

{% endblock %}
