{% block backend_layout_aside_usuarios %}
    <li class="treeview {% block li_usuarios_tree_active %}{% endblock %}">
        <a href="#"><i class="fa fa-user-circle"></i> <span>{{ 'usuarios' | trans({},'menu-i18n') }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% if app.user.isSuperAdmin %}
                <li class="{% block li_administrador_all_active %}{% endblock %}">
                    <a href="{{ path('administrador_index') }}"><i
                                class="fa fa-arrow-right"></i>{{ 'administradores' | trans({},'menu-i18n') }}</a>
                </li>
            {% endif %}

            <li class="treeview {% block li_cuidador_tree_active %}{% endblock %}">
                <a href="#"><i class="fa fa-arrow-right"></i> <span>{{ 'cuidadores' | trans({},'menu-i18n') }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% block li_cuidador_all_active %}{% endblock %}">
                        <a href="{{ path('backend_cuidador_index') }}">{{ 'todas' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_cuidador_pendientes_active %}{% endblock %}">
                        <a href="{{ path('backend_cuidador_pendientes') }}">{{ 'por.aprobar' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_cuidador_eliminados_active %}{% endblock %}">
                        <a href="{{ path('backend_cuidador_eliminados') }}">{{ 'autoeliminados' | trans() }}</a>
                    </li>
                </ul>
            </li>

            <li class="{% block li_demandante_all_active %}{% endblock %}">
                <a href="{{ path('backend_demandante_index') }}"><i
                            class="fa fa-arrow-right"></i>{{ 'familias' | trans({},'menu-i18n') }}</a>
            </li>
            <li class="{% block li_empresa_all_active %}{% endblock %}">
                <a href="{{ path('backend_empresa_index') }}"><i
                            class="fa fa-arrow-right"></i>{{ 'empresas' | trans({},'menu-i18n') }}</a>
            </li>
        </ul>
    </li>
{% endblock %}
