{% block backend_layout_aside_mensajes %}
    <li class="treeview {% block li_mensajes_tree_active %}{% endblock %}">
        <a href="#"><i class="fa fa-file-text"></i>
            <span>{{ 'mensajess' | trans }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block li_mensaje_all_active %}{% endblock %}">
                <a href="{{ path('backend_mensaje_index') }}"><i class="fa fa-arrow-right"></i>{{ 'mensajess' | trans({},'menu-i18n') }}</a>
            </li>
            <li class="treeview {% block li_incidencia_tree_active %}{% endblock %}">
                <a href="#"><i class="fa fa-arrow-right"></i> <span>{{ 'incidencias' | trans({},'menu-i18n') }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% block li_incidencia_empresa_active %}{% endblock %}">
                        <a href="{{ path('backend_admin_incidencia_empresa') }}">{{ 'empresa' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_incidencia_cuidador_active %}{% endblock %}">
                        <a href="{{ path('backend_admin_incidencia_cuidador') }}">{{ 'cuidador' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_incidencia_familia_active %}{% endblock %}">
                        <a href="{{ path('backend_admin_incidencia_familia') }}">{{ 'familia' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_incidencia_pendiente_active %}{% endblock %}">
                        <a href="{{ path('backend_admin_incidencia_pendiente') }}">{{ 'pendientes' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_incidencia_solucionadas_active %}{% endblock %}">
                        <a href="{{ path('backend_admin_incidencia_resuelta') }}">{{ 'resueltas' | trans({},'menu-i18n') }}</a>
                    </li>
                </ul>
            </li>
            {% if app.user.isSuperAdmin %}
                <li class="treeview {% block li_incidencia_grave_tree_active %}{% endblock %}">
                    <a href="#"><i class="fa fa-arrow-right"></i> <span>{{ 'incidencias.graves' | trans({},'menu-i18n') }}</span>
                        <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="{% block li_incidencia_grave_empresa_active %}{% endblock %}">
                            <a href="{{ path('backend_superadmin_incidencia_empresa') }}">{{ 'empresa' | trans({},'menu-i18n') }}</a>
                        </li>
                        <li class="{% block li_incidencia_grave_cuidador_active %}{% endblock %}">
                            <a href="{{ path('backend_superadmin_incidencia_cuidador' ) }}">{{ 'cuidador' | trans({},'menu-i18n') }}</a>
                        </li>
                        <li class="{% block li_incidencia_grave_familia_active %}{% endblock %}">
                            <a href="{{ path('backend_superadmin_incidencia_familia') }}">{{ 'familia' | trans({},'menu-i18n') }}</a>
                        </li>
                        <li class="{% block li_incidencia_grave_pendiente_active %}{% endblock %}">
                            <a href="{{ path('backend_superadmin_incidencia_pendiente') }}">{{ 'pendientes' | trans({},'menu-i18n') }}</a>
                        </li>
                        <li class="{% block li_incidencia_grave_solucionadas_active %}{% endblock %}">
                            <a href="{{ path('backend_superadmin_incidencia_resuelta') }}">{{ 'resueltas' | trans({},'menu-i18n') }}</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </li>
{% endblock %}
