{% block backend_layout_aside_entrevistas %}
    <li class="treeview {% block li_entrevistas_options_tree_active %}{% endblock %}">
        <a href="#"><i class="fa fa-adn"></i> <span>{{ 'entrevistass' | trans }}</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block li_entrevistas_crear_active %}{% endblock %}">
                <a href="{{ path('entrevista_crear_entrevista') }}"><i class="fa fa-arrow-right"></i>
                    {{ 'nueva.entrevista' | trans }}
                </a>
            </li>
            <li class="{% block li_entrevistas_aceptadas_active %}{% endblock %}">
                <a href="{{ path('entrevista_aceptadas') }}"><i class="fa fa-arrow-right"></i>{{ 'aceptadas' | trans }}</a>
            </li>
            <li class="{% block li_entrevistas_terminadas_active %}{% endblock %}">
                <a href="{{ path('entrevista_terminadas') }}"><i class="fa fa-arrow-right"></i>{{ 'terminadas' | trans }}</a>
            </li>
            <li class="{% block li_entrevistas_en_proceso_active %}{% endblock %}">
                <a href="{{ path('entrevista_en_proceso') }}"><i class="fa fa-arrow-right"></i>{{ 'enproceso.decreacion' | trans }}</a>
            </li>
            <li class="{% block li_entrevistas_no_realizadas_active %}{% endblock %}">
                <a href="{{ path('entrevista_no_realizadas') }}"><i class="fa fa-arrow-right"></i>{{ 'no.realizadas' | trans }}</a>
            </li>
        </ul>
    </li>
    <li class="treeview {% block li_servicios_tree_active %}{% endblock %}">
        <a href="#"><i class="fa fa-check"></i> <span>{{ 'servicioss' | trans }}</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block li_servicio_crear_active %}{% endblock %}">
                <a href="{{ path('backend_servicio_crear_servicio') }}"><i class="fa fa-arrow-right"></i>
                    {{ 'nuevo.servicio' | trans }}
                </a>
            </li>
            <li class="{% block li_servicios_peticiones_active %}{% endblock %}">
                <a href="{{ path('backend_servicio_peticiones') }}"><i class="fa fa-arrow-right"></i>
                    {{ 'nuevas.peticiones' | trans }}
                </a>
            </li>
            <li class="{% block li_servicios_activos_active %}{% endblock %}">
                <a href="{{ path('backend_servicio_activos') }}">
                    <i class="fa fa-arrow-right"></i>
                    {{ 'activoss' | trans }}
                </a>
            </li>
            <li class="{% block li_servicios_denegados_active %}{% endblock %}">
                <a href="{{ path('backend_servicio_denegados') }}">
                    <i class="fa fa-arrow-right"></i>
                    {{ 'denegados' | trans }}
                </a>
            </li>
            <li class="{% block li_servicios_finalizados_active %}{% endblock %}">
                <a href="{{ path('backend_servicio_finalizados') }}">
                    <i class="fa fa-arrow-right"></i>
                    {{ 'finalizados' | trans }}
                </a>
            </li>
        </ul>
    </li>
{% endblock %}
