{% block backend_layout_aside_configuracion %}
    <li class="treeview {% block li_configuracion_tree_active %}{% endblock %}">
        <a href="#"><i class="fa fa-list"></i> <span>{{ 'configuracion' | trans({},'menu-i18n') }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{% block li_conf_editar_imagen_active %}{% endblock %}"
                title="Para editar la imagen de fondo del buscador">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.imagen' | trans({},'menu-i18n') }}</a>
            </li>
            <li class="{% block li_conf_editar_testimonios_active %}{% endblock %}"
                title="Para editar los 3 testimonios de la home">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.testimonios' | trans({},'menu-i18n') }}</a>
            </li>
            <li class="{% block li_conf_editar_contactos_active %}{% endblock %}"
                title="Para editar los datos de contacto">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.contactos' | trans({},'menu-i18n') }}</a>
            </li>
            <li class="{% block li_conf_editar_quienes_somos_active %}{% endblock %}" title="Para editar quiénes somos">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.quienessomos' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="treeview {% block li_conf_editar_info_tree_active %}{% endblock %}">
                <a href="#"><i class="fa fa-arrow-right"></i> <span>{{ 'editar.info' | trans({},'menu-i18n') }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% block li_conf_editar_info_1_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-convenio">{{ 'modal.convenio' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_2_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-tipo-trabajo">{{ 'modal.tipo.detrabajo' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_3_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-password">{{ 'modal.contrasenna.extranet' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_4_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-nombre-usuario">{{ 'modal.nombre.usuario' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_5_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-horario-entrevista">{{ 'modal.horario.entrevista' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_6_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-descripcion">{{ 'modal.horario.entrevista' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_7_active %}{% endblock %}">
                        <a href="#" title="registro-cuidador modal-tipo-cuidador">{{ 'modal.tipocuidador' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_8_active %}{% endblock %}">
                        <a href="#" title="registro-demandante modal-password">{{ 'modal.contrasenna.familia' | trans({},'menu-i18n') }}</a>
                    </li>
                    <li class="{% block li_conf_editar_info_9_active %}{% endblock %}">
                        <a href="#" title="registro-empresa modal-password">{{ 'modal.contrasenna.empresa' | trans({},'menu-i18n') }}</a>
                    </li>
                </ul>
            </li>

            <li class="{% block li_conf_editar_logo_active %}{% endblock %}" title="Para editar el logo">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.logo' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_imagen_footer_active %}{% endblock %}"
                title="Para editar imagen de fondo encima del footer">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.imagen.inferior' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_color_base_active %}{% endblock %}"
                title="Para editar colores de botones, fondo del footer y demás">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.imagen.inferior' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_texto_empresa_active %}{% endblock %}"
                title="Para editar texto de empresa">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.textoempresa' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_texto_sobre_nosotros_active %}{% endblock %}"
                title="Para editar texto de sobre nosotros">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.sobrenosotros' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_texto_terminos_uso_active %}{% endblock %}"
                title="Para editar texto términos de uso">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.terminosdeuso' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_texto_politica_privacidad_active %}{% endblock %}"
                title="Para editar texto politica de privacidad">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.politica.privacidad' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_texto_politica_cookies_active %}{% endblock %}"
                title="Para editar texto politica de cookies">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.politicas.decookies' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_conf_editar_imagen_fondo_formularios_active %}{% endblock %}"
                title="Para editar imagen de fondo de formularios de registro">
                <a href="#"><i class="fa fa-arrow-right"></i>{{ 'editar.imagen.defondo' | trans({},'menu-i18n') }} <br> {{ 'deformulario.deregistro' | trans({},'menu-i18n') }}</a>
            </li>

            <li class="{% block li_configuracion_all_active %}{% endblock %}">
                <a href="{{ path('backend_configuration_index') }}"><i class="fa fa-arrow-right"></i>{{ 'variables' | trans }}</a>
            </li>
            <li class="{% block li_cms_all_active %}{% endblock %}">
                <a href="{{ path('cms_index') }}"><i class="fa fa-arrow-right"></i>{{ 'paginascms' | trans }}</a>
            </li>
            <li class="{% block li_cms_categoria_all_active %}{% endblock %}">
                <a href="{{ path('cms_categoria_index') }}"><i class="fa fa-arrow-right"></i>{{ 'categoriascms' | trans }}</a>
            </li>
            <li class="{% block li_test_mail_all_active %}{% endblock %}">
                <a href="{{ path('backend_test_email') }}"><i class="fa fa-arrow-right"></i>{{ 'probar.correo' | trans }}</a>
            </li>
        </ul>
    </li>
{% endblock %}
