{% extends 'BackendBundle:Layout:backend.html.twig' %}
{% block title %}Mostrar Asignación {% endblock %}
{% block nombre %}Asignación{% endblock %}
{% block subtitulo %}Mostrar Asignación {% endblock %}
{% block wrapper %}

    {% block wrapper_header %} {% endblock %}

    <table class="table table-striped" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignacion.id }}</td>
            </tr>
            <tr>
                <th>Tiempo</th>
                <td>{{ asignacion.tiempo }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if asignacion.disponible %}{{ 'si' | trans }} {% else %} {{ 'no' | trans }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% block wrapper_footer %} {% endblock %}

{% endblock %}

{% block footer %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('asignacion_index') }}">{{ 'crud.list' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('asignacion_new') }}">{{ 'crud.create' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-primary"
               href="{{ path('asignacion_edit', { 'id': asignacion.id }) }}">{{ 'crud.edit' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-danger"
               href="{{ path('asignacion_delete', { 'id': asignacion.id }) }}"
               onclick="return confirm('¿{{ 'crud.delete' | trans }}?')">
                {{ 'crud.delete' | trans }}
            </a>
        </li>
    </ul>
{% endblock %}