{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Pruebas</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for prueba in pruebas %}
            <tr>
                <td><a href="{{ path('prueba_show', { 'id': prueba.id }) }}">{{ prueba.id }}</a></td>
                <td>{{ prueba.nombre }}</td>
                <td>{{ prueba.descripcion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prueba_show', { 'id': prueba.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('prueba_edit', { 'id': prueba.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prueba_new') }}">Crear nueva prueba</a>
        </li>
    </ul>
{% endblock %}
