{% extends 'base.html.twig' %}

{% block body %}
    <h1>Prueba</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ prueba.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ prueba.nombre }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ prueba.descripcion }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prueba_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a href="{{ path('prueba_edit', { 'id': prueba.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
