{% extends 'BackendBundle:Layout:backend.html.twig' %}
{% block title %}{{ 'crud.edit' | trans }} Procedencia{% endblock %}
{% block nombre %}Procedencia{% endblock %}
{% block subtitulo %}{{ 'crud.edit' | trans }} Procedencia{% endblock %}
{% block wrapper %}

    {% block wrapper_header %} {% endblock %}

    <div class="row">
        <div class="col-lg-6">
            <form action="{{ path('procedencia_edit',{'id':procedencia.id}) }}" method="post"
                  enctype="multipart/form-data">
                {{ form_widget(edit_form) }}
                <br>
                <input class="btn btn-success mt-10" type="submit" value="{{ 'crud.edit' | trans }}"/>
            </form>
        </div>
    </div>


    {% block wrapper_footer %} {% endblock %}

{% endblock %}

{% block footer %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('procedencia_index') }}">{{ 'crud.list' | trans }}</a>
        </li>
    </ul>
{% endblock %}
