{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Lista de Procedencias{% endblock %}
{% block nombre %}Procedencia{% endblock %}
{% block subtitulo %}Lista de Procedencias{% endblock %}
{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>¿Fuera de la provincia?</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for procedencium in procedencias %}
            <tr>
                <td><a href="{{ path('procedencia_show', { 'id': procedencium.id }) }}">{{ procedencium.id }}</a></td>
                <td>{{ procedencium.nombre }}</td>
                <td>{{ procedencium.descripcion }}</td>
                <td>{% if procedencium.fueraProvincia %}Sí{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('procedencia_show', { 'id': procedencium.id }) }}" class="btn btn-info">Mostrar</a>
                    <a href="{{ path('procedencia_edit', { 'id': procedencium.id }) }}"
                       class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><a href="{{ path('procedencia_new') }}" class="btn btn-success">Crear nueva procedencia</a>
{% endblock %}
