{% extends 'BackendBundle:Layout:backend.html.twig' %}
{% block title %}Mostrar Procedencia {% endblock %}
{% block nombre %}Procedencia{% endblock %}
{% block subtitulo %}Mostrar Procedencia {% endblock %}
{% block wrapper %}

    {% block wrapper_header %} {% endblock %}

    <table class="table table-striped" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ procedencia.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ procedencia.nombre }}</td>
        </tr>
        <tr>
            <th>Descripción</th>
            <td>{{ procedencia.descripcion }}</td>
        </tr>
        <tr>
            <th>&iquest;Fuera de la provincia?</th>
            <td>{% if procedencia.fueraProvincia %}{{ 'si' | trans }} {% else %} {{ 'no' | trans }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% block wrapper_footer %} {% endblock %}

{% endblock %}

{% block footer %}
    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('procedencia_index') }}">{{ 'crud.list' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('procedencia_new') }}">{{ 'crud.create' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-primary"
               href="{{ path('procedencia_edit', { 'id': procedencia.id }) }}">{{ 'crud.edit' | trans }}</a>
        </li>
        <li>
            <a class="btn btn-danger"
               href="{{ path('procedencia_delete', { 'id': procedencia.id }) }}"
               onclick="return confirm('¿{{ 'crud.delete' | trans }}?')">
                {{ 'crud.delete' | trans }}
            </a>
        </li>
    </ul>
{% endblock %}
