{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block wrapper %}
    <div ng-cloak>
        <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()">
            <wz-step wz-title="Asignación">
                <div class="row" ng-controller="AsignacionCtrl">
                    <div class="col-lg-3">
                        {#<label for="fecha_prueba">Fecha de prueba</label>
                        <input type="date" name="fecha_prueba" id="fecha_prueba" >#}
                        {{ form_start(form1) }}
                        {{ form_widget(form1) }}
                        {#<input type="submit" value="Create" />#}
                        {{ form_end(form1) }}
                    </div>
                    {#<div class="col-lg-3">
                        <label for="equipo">Equipo</label>
                        <select name="equipo" id="equipo" class="form-control">
                            {% for equipo in equipos %}
                                <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label for="prueba">Prueba</label>
                        <select name="prueba" id="prueba" class="form-control">
                            {% for prueba in pruebas %}
                                <option value="{{ prueba.id }}">{{ prueba.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>#}
                </div>
                <div class="row" style="padding-top: 10px">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <input type="submit" wz-next value="Continuar" class="btn btn-success"/>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="Planificación">
                <div class="row" ng-controller="PlanificacionCtrl">
                    <div class="col-lg-3">
                        {{ form_start(form2) }}
                        {{ form_widget(form2) }}
                        {#<input type="submit" value="Create" />#}
                        {{ form_end(form2) }}
                    </div>
                </div>
                <div class="row" style="padding-top: 10px">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <input type="submit" wz-next value="Finalizar" class="btn btn-success"/>
                    </div>
                </div>
            </wz-step>
            {#<wz-step wz-title="More steps">
                <p>Even more steps!!</p>
                <input type="submit" wz-next value="Finish now"/>
            </wz-step>#}
        </wizard>
    </div>

{% endblock %}