{% extends ':backend:backend.layout.html.html.twig' %}
{% block title %}Lista de Especialidades{% endblock %}
{% block nombre %}Especialidad{% endblock %}
{% block subtitulo %}Lista de Especialidades{% endblock %}
{% block content %}
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for especialidad in especialidads %}
            <tr>
                <td><a href="{{ path('especialidad_show', { 'id': especialidad.id }) }}">{{ especialidad.id }}</a></td>
                <td>{{ especialidad.nombre }}</td>
                <td>{{ especialidad.descripcion }}</td>
                <td>
                    <a href="{{ path('especialidad_show', { 'id': especialidad.id }) }}"
                       class="btn btn-info">Mostrar</a>
                    <a href="{{ path('especialidad_edit', { 'id': especialidad.id }) }}"
                       class="btn btn-warning">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><a href="{{ path('especialidad_new') }}" class="btn btn-success">Crear nueva especialidad</a>

{% endblock %}
